<div class="hero h-[65vh] bg-base-200 relative" style="background-image: url(<%= content.image_url :hero_image %>)">
  <div class="swoopy absolute w-full bottom-0 h-[50px]"></div>

  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold shadow"><%= current_page.title %></h1>
      <p class="py-6">
        <%= link_to "Play Now", content.text(:play_link), class: "btn btn-accent" %>
      </p>
    </div>
  </div>
</div>

<div class="w-full bg-[#1B1B1E] text-white border-b-4 border-b-accent-content p-4">
  <div class="container mx-auto mt-12 mb-8 px-4">
    <div class="mb-4">
      <%= content.html :body %>
    </div>

    <div class="flex flex-wrap justify-center">
      <% images(:supporting_images) do |image| %>
        <div class="card shadow w-48 hover:shadow-white ease-in-out duration-300 m-4">
          <figure><%= image_tag content.image_url(image) %></figure>
        </div>
      <% end %>
    </div>
  </div>
</div>