<%= render("default/shared/header",
           hero_url: content.image_url(:hero_image)
    )
%>

<div class="w-full bg-[#1B1B1E] text-white border-b-4 border-b-accent-content p-4">
  <div class="flex justify-center">
    <div class="p-4 bg-accent-content w-fit rounded-box">
      Newest Release
    </div>
  </div>

  <h1 class="text-4xl font-bold shadow justify-center flex p-4"><%= content.text :headline %></h1>
</div>

<div class="container prose text-center mx-auto mt-12 mb-8 px-5">
  <%= content.html :body %>
</div>


<div class="swoopy w-full h-[25px]"></div>
<div class="bg-[#1B1B1E] flex justify-around p-8 border-b-4 border-b-accent-content">

  <% game_page = Spina::Page.find_by(name: "games") %>
  <%= link_to game_page.title, game_page.materialized_path, class: "btn" %>

  <% packages_page = Spina::Page.find_by(name: "packages") %>
  <%= link_to packages_page.title, packages_page.materialized_path, class: "btn" %>
</div>

