<%= render("default/shared/header",
           hero_url: content.image_url(:hero_image)
    )
%>

<div class="bg-base-200 min-w-[20%] grow border">
  <div class="p-4">
    <div class="flex justify-center">
      <div class="p-4 text-bold text-lg">
        Newest Release
        <div class="divider"></div>
      </div>

    </div>

    <h1 class="text-4xl font-bold justify-center flex p-4"><%= content.text :headline %></h1>
  </div>

</div>


<div class="prose min-w-[20%] text-center grow pt-12 border">
  <%= content.html :body %>
</div>


<% game_page = Spina::Page.find_by(name: "games") %>
<% packages_page = Spina::Page.find_by(name: "packages") %>

<%= render "default/shared/slice", image: content.image_url(:games_image), title: "Games", to: game_page.materialized_path  %>
<%= render "default/shared/slice", image: content.image_url(:packages_image), title: "Packages", to: packages_page.materialized_path  %>
