<%= render("default/shared/header",
           title: current_page.title,
           headline: content.text(:headline),
           hero_url: content.image_url(:hero_image)
    )
%>

<div class="w-full p-4">
  <div class="container max-w-screen-md mx-auto mt-12 mb-8 px-5">
    <div class="prose max-w-full text-center mb-4">
      <%= content.html :body %>
    </div>
    <div class="flex justify-center flex-wrap">
      <% packages.each do |package| %>
        <div class="card text-black bg-white shadow w-full hover:shadow-black ease-in-out duration-300 m-4">
          <%= link_to package.materialized_path do %>
            <div class="flex items-center p-4 pl-8">
              <span class="card-title pr-6"><%= package.title %></span>
              <span><%= package.content.text :headline %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>